In [1]:
import re

In [7]:
pattern="\d{10}|\(\d{3}\)-\d{3}-\d{4}"
chat='ada gommala enoda number ennanu theriyumaa 9514110089 inoru number (123)-456-7689'
result1=re.findall(pattern,chat)
result1

['9514110089', '(123)-456-7689']

In [8]:
emailpattern="[a-zA-Z0-9_]*@[a-zA-Z]*\.[a-z]*"
chat2='ommala you are asking for my mail id motherfucker take it phone 9734847478 and bala2_@gmail.com'
result2=re.findall(emailpattern,chat2)
result2

['bala2_@gmail.com']

In [10]:
orderidpattern="order[^\d]*(\d*)"
chat3 = "omala my phone number of my order id is 2112324"
result3=re.findall(orderidpattern,chat3)
result3

['2112324']

In [12]:
elon_data='''Born	Elon Reeve Musk
June 28, 1971 (age 500)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa
Canada
United States
Education	University of Pennsylvania (BA, BS)
Title	
Founder, CEO, and chief engineer of SpaceX
CEO and product architect of Tesla, Inc.
Owner, CTO and Executive Chairman of X (formerly Twitter)
President of the Musk Foundation
Founder of The Boring Company, X Corp., and xAI
Co-founder of Neuralink, OpenAI, Zip2, and X.com (part of PayPal)
Spouses	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Partners	
Grimes (2018–2021)[1]
Children	12[a][3]
Parents	
Errol Musk
Maye Musk
Relatives	
Kimbal Musk (brother)
Tosca Musk (sister)
Lyndon Rive (cousin)'''

In [13]:
pattern_age="\(age (\d*)"
age=re.findall(pattern_age,elon_data)
age

['500']

In [24]:
pattern_name="Born(.*)\n"
name=re.findall(pattern_name,elon_data)
name[0].strip()

'Elon Reeve Musk'

In [26]:
pattern_dob="(.*)\(age"
dob=re.findall(pattern_dob,elon_data)
dob[0]

'June 28, 1971 '

In [39]:
pattern_place="\(age \d*\)\n(.*)\nCitizenship"
pattern_place2="\(age \d*\)\n(.*)\n"
place=re.findall(pattern_place2,elon_data)
place

['Pretoria, Transvaal, South Africa']

In [28]:
msd='''Born	7 July 1981 (age 43)
Ranchi, Bihar (present-day Jharkhand), India
Height	5 ft 9 in (175 cm)[1]
Spouse	Sakshi Dhoni
Awards	
Padma Bhushan (2018)
Padma Shri (2009)
Major Dhyan Chand Khel Ratna Award (2008)
Nickname(s)	Mahi, Thala, Captain Cool[2'''

In [38]:
place2=re.findall(pattern_place2,msd)
place2[0]

'Ranchi, Bihar (present-day Jharkhand), India'

In [40]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
# pattern_links = '' # todo: type your regex here

# re.findall(pattern, text)

# Cosine similarity

In [68]:
# consine 90-not similar dist-0
# consine same-not similar dist-1
# consine 180-not similar dist-(-1)
# cosine distance=1-cosine_similarity

from sklearn.metrics.pairwise import cosine_distances,cosine_similarity
import pandas as pd

In [64]:
data1="this the document about apple which describes about apple product like iphone,ipad,mac samsung is our competitor"
data2="this the document about samsung which describes about apple product like samsung a15,samsung 12  is our competitor"
word1="apple"
word2="iphone"
word3="samsung"
word4="galaxy"
apple_count=0
samsung_count=0
data1_split=data1.split(" ")
data2_split=data2.split(" ")
k=1

for i in data1_split:
    if(word1==i or word2==i):
        apple_count+=1
    if(word3==i or word3==i):
        samsung_count+=1
else:
    dict1={"iphone":apple_count,"samsung":samsung_count}
    apple_count=0
    samsung_count=0
print(dict1)
for i in data2_split:
    if(word1==i or word2==i):
        apple_count+=1
    if(word3==i or word3==i):
        samsung_count+=1
else:
    dict2={"iphone":apple_count,"samsung":samsung_count}
df=pd.DataFrame([dict1,dict2],index=["doc_1","doc_2"])

print(dict2)
df

{'iphone': 2, 'samsung': 1}
{'iphone': 1, 'samsung': 2}

       iphone  samsung
doc_1       2        1
doc_2       1        2

In [65]:
dc_1=df.loc["doc_1":"doc_1"]
dc_2=df.loc["doc_2":"doc_2"]

In [66]:
cosine_similarity(dc_1,dc_2)

array([[0.8]])

In [67]:
cosine_distances(dc_1,dc_2)

array([[0.2]])

In [ ]:
# tcs super ASCII checker

In [93]:
#a-1,b-2,c-3,d-4,e-5....z-26
def super_ascii_checker(s:str)->bool:
    char_count={}
    for char in s:
        if char in char_count:
            char_count[char]+=1
        else:
            char_count[char]=1
    for char in s:
        expected_val=ord(char)-97+1
        if(char_count[char]!= expected_val):
            return False
    else:
        return True
    # print(char_count)
result=super_ascii_checker("abbccc")
result

True